{% extends 'base.html' %}

{% block content %}
<div class="col-lg-4 container justify-content-center pt-5">
    <h2>Password reset</h2>
    {% if validlink %}
    <p>Enter a new password twice:</p>
<form action="." method="post">
    {{ form.as_p}}
    <button class="btn btn-primary btn-md" type="submit">Change</button>
    {% csrf_token %}
</form>
    {% else %}
    <p>The link that allows You to reset the password is incorrect, because it has probably already been used. You must re-reset the password.</p>
</div>
    {% endif %}
{% endblock %}